@import '../../scss/config/_variables.scss';

/* ========= CLIENTS ========= */
.clients {
    &-data {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    &-logo {
        width: 35%;
        height: auto;
    }
}

/* ========= BREAKPOINTS ========= */
/* For Large Devices */
@media screen and (min-width: 968px) {
    .clients {
        &-container {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        &-data {
            flex-direction: row;
            justify-content: center;
            gap: 4rem;
        }

        &-logo {
            width: 15%;
            height: auto;
        }
    }
}