@import '../../scss/config/_variables.scss';
@import '../../scss/base/_base.scss';

/* ========= CTA ========= */
.cta {
    margin-bottom: 6rem;

    &-data {
        text-align: center;
    }

    &-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    &-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $grayish-blue;
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        padding-top: 2rem;
    }
}