@import '../../scss/config/_variables.scss';
@import '../../scss/base/_base.scss';

/* ========= HERO ========= */
.hero {
    background: url(../../assets/img/bg-header-mobile.png) top no-repeat;
    background-size: 100%;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-logo {
        padding-bottom: 2rem;
    }

    &-data {
        text-align: center;
    }

    &-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    &-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $grayish-blue;
    }

    &-title, &-subtitle {
        padding-bottom: 1rem;
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        padding-top: 1.5rem;
    }
}

/* ========= BREAKPOINTS ========= */
/* For Large Devices */
@media screen and (min-width: 968px) {
    .hero {
        background: url(../../assets/img/bg-header-desktop.png) top no-repeat;
        background-size: 100%;

        &-subtitle {
            max-width: 35rem;
        }

        &-buttons {
            flex-direction: row;
        }
    }
}