@import '../../scss/config/_variables.scss';

/* ========= SNIPPETS ========= */
.snippets {
    &-main {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    &-title {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    &-subtitle {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $grayish-blue;
    }

    &-data-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding-top: 2rem;
    }

    &-data-title {
        font-size: 1.5rem;
    }

    &-data-description {
        color: $grayish-blue;
    }
}

/* For Medium Devices */
@media screen and (min-width: 576px) {
    .snippets {
        &-data {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-image {
            width: 80%;
            height: auto;
        }

        &-data-content {
            padding-top: 4rem;
        }

        &-data-description {
            max-width: 20rem;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
    .snippets {
        &-main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-subtitle {
            max-width: 38rem;
        }

        &-data {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: stretch;
        }

        &-image {
            width: 60%;
            height: auto;
        }

        &-data-content {
            text-align: left;
        }

        &-data-title {
            font-size: 1.2rem;
            font-weight: $font-semi-bold;
            padding-bottom: 0.5rem;
        }
    
        &-data-description {
            line-height: 25px;
            font-size: .9rem;
        }
    }
}