/* ========= BASE ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    background-color: $white;
    font-size: $normal-font-size;
    color: $dark-grayish-blue;
    // margin: $header-height 0 0 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========= BUTTONS ========= */
.button {
    display: inline-block;
    background-color: $strong-cyan;
    color: $white;
    padding: .95rem 5.8rem;
    border-radius: 3rem;
    font-weight: $font-semi-bold;
    box-shadow: 0px 3px 0px 0px hsl(171, 67%, 32%);

    &:hover{
        cursor: pointer;
        background-color: hsl(171, 69%, 64%);
        box-shadow: 0px 3px 0px 0px hsl(171, 68%, 45%);
    }

    &-mac {
        background-color: $light-blue;
        box-shadow: 0px 3px 0px 0px hsl(233, 60%, 57%);

        &:hover{
            cursor: pointer;
            background-color: hsl(233, 98%, 77%);
            box-shadow: 0px 3px 0px 0px hsl(233, 69%, 68%);
        }
    }
}

